<!-- Template driven form using tempplate freference variable with ng-form -->
<!-- <template-driven></template-driven>   -->

<!-- Reactiveform using FormGroup , FromControl -->
<!-- <reactive-form></reactive-form> -->

<!-- Reactiveform using FormGroup , FromControl . FromBuilder -->
<!-- <reactive-form-builder></reactive-form-builder> -->

<!-- Reactiveform using FormGroup , FromControl . FromBuilder , FormArray-->
<!-- <formarray-sample></formarray-sample> -->

<!-- <div class="container">
  <div class="row" >
      <child1>
        <h5 class="card-title">Special title treatment 1</h5>
        <a href="#" class="btn btn-primary" id="btn">Go somewhere1</a>
      </child1>
      <child1 >
        <h5 class="card-title">Special title tre</h5>
        <a href="#" class="btn btn-primary" id="btn">Go somewhere2</a>
      </child1>
      <child1 >
        <h5 class="card-title">Special title treatment 3</h5>
        <a href="#" class="btn btn-primary" id="btn">Go somewhere3</a>
      </child1>
      <child1 >
         
        <a href="#" class="btn btn-primary" id="btn">Go somewhere4</a>
      </child1>
  </div>
</div>  -->

<!-- 
<div class="row">
  <div class="col">col</div>
  <div class="col">col</div>
  <div class="col">col</div>
  <div class="col">col</div>
</div>
<div class="row">
  <div class="col-8">col-8</div>
  <div class="col-4">col-4</div>
</div> -->


<rxjs-map></rxjs-map>



